<dialog open class="changePswd">
    <form (ngSubmit)="onChange()">
        <p>
            <input type="password" placeholder="Old Password" name="oldPswd" [(ngModel)]="passwordData.oldPassword"/>
        </p>
        <p>
            <input type="password" placeholder="New Password" name="newPswd" [(ngModel)]="passwordData.newPassword"/>
        </p>
        <p>
            <button type="submit" class="btn btn-success">Change Password</button>
            <button type="button" class="btn btn-danger" (click)="this.close.emit()">Cancel</button>
        </p>
    </form>
</dialog>