<app-navbar></app-navbar>
<section id="cart">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <ng-container *ngIf="userCart.length > 0; else emptyCart">
                <h5>Your Booker Cart</h5>
                <div *ngFor="let item of userCart;" class="cartItem">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>{{item.event.eventName}}</h3>
                            <p>At: {{item.event.eventVenue}}</p>
                            <p>Date: {{item.event.date}}</p>
                            <p>Time: {{item.event.time}}</p>
                        </div>
                        <div class="col-sm-4">
                            <h5>{{item.ticketType.ticketCategory}}</h5>
                            <h6>{{getAmount(item.price)}}</h6>
                        </div>
                        <div class="col-sm-2">
                            <button class="btn btn-outline-danger" (click)="cancelTicket(item.id)">Delete Item</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            Quantity: {{item.quantity}}
                        </div>
                        <div class="col-6">
                            <h6><strong>{{getAmount(item.amount)}}</strong></h6>
                        </div>
                    </div>
                </div>
            </ng-container>
            <ng-template #emptyCart>
                <div class="emptyCart">
                    <strong>Your Cart is empty!</strong>
                    <p>Start booking events now!!!</p>
                    <a href="/home"><button class="btn btn-primary">Go to Events</button></a>
                </div>
            </ng-template>
        </div>
        <div class="col-sm-2"></div>
    </div>
</section>

<!-- Static Checkout Section -->
<div class="checkoutDiv">
    <div class="row">
        <div class="col-6">
            <h1>Total Amount: {{getAmount(totalAmount)}}</h1>
        </div>
        <div class="col-6">
            <button class="btn btn-success" (click)="checkout()">
                Proceed to Checkout
            </button>
        </div>
    </div>
</div>
