<div class="authForm">
    <h5>Sign In</h5>
    <form (ngSubmit)="onRegister()">
        <p>
            <input type="text" placeholder="Name" name="name" [(ngModel)]="enteredName"/>
        </p>
        <p>
            <input type="email" placeholder="Email" name="email" [(ngModel)]="enteredEmail"/>
        </p>
        <p>
            <input type="text" placeholder="Phone" name="phone" [(ngModel)]="enteredPhone"/>
        </p>
        <p>
            <input type="password" placeholder="Password" name="password" [(ngModel)]="enteredPassword"/>
        </p>
        <p>
            <input type="password" placeholder="Confirm Password" name="confimPswd" [(ngModel)]="confimPassword"/>
        </p>
        <p>
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </p>
    </form>
    <a href="/login">Already a User? Sign In here</a>
</div>