<dialog open class="editProfile">
    <form (ngSubmit)="onEdit()" >
        <p>
            <input 
                type="text" 
                placeholder="Name"
                name="name"
                [(ngModel)]="editProfileData.name"
            />
        </p>
        <p>
            <input type="text" placeholder="Phone Number" name='phone' [(ngModel)]="editProfileData.phoneNumber"/>
        </p>
        <p>
            <label for="preferredLang">Your Preferred Language:</label>
            <select name="preferredLang" [(ngModel)]="editProfileData.preferredLang">
                <option value="Hindi">Hindi</option>
                <option value="English">English</option>
            </select>
        </p>
        <p>
            <label for="preferredCurr">Your Preferred Currency:</label>
            <select name="preferredCurr" [(ngModel)]="editProfileData.preferredCurr">
                <option value="INR">INR ₹</option>
                <option value="USD">USD $</option>
            </select>
        </p>
        <p>
            <button type="submit" class="btn btn-success">Change</button>
        </p>
    </form>
</dialog>